.timedalert {
  z-index: 50;
  position: fixed;
  margin-top: -30px;
  margin-left: 220px;
  background: $modal-background;
  font-family: $base-font-family;
  font-size: $font-size-regular;
  padding: 10px;
  color: $text-color !important;
  border-radius: 10px;
}


.timedalert-anim {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 100%;
    transition: opacity 200ms;
  }

  &-exit {
    opacity: 100%;
  }

  &-exit-active{ 
    opacity: 0;
    transition: opacity 200ms;
  }
}