.button {
  cursor: pointer;

  &--primary {
    background-color: $brand-color;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: $base-font-family;
    font-size: $font-size-regular;
    border-radius: 50px;
  }
}