.content {
  max-width: 1080px;
  margin: auto;

  @include respond(phone) { // width < 1200?
    padding-left: 2%;
    padding-right: 2%;
  }

  @include respond(tablet) { // width < 1200?
    padding-left: 5%;
    padding-right: 5%;
  }

}