.header {
  color: $text-color;

  &__container {
    margin: 1%;
    margin-left: 2%;
    margin-right: 2%;
    max-height: 100px;
    padding-top: 15px;
  }

  &__body {
    display: flex;
  }

  &__logo {
    width: 100px;
  }

  &__items {
    display: inline-block;
    align-self: center;
    margin-left: auto;
  }
  
  &__item {
    align-self: center;
    font-family: $base-font-family;
    font-weight: 600;
    font-size: $font-size-regular;
  }

}