.header {
  color: $text-color;
  background: transparent;

  &__container {
    max-height: 100px;
  }

  &__body {
    display: flex;
    min-height: 100px;
    margin-top: 5px;
    margin-left: 2%;
    margin-right: 2%;
  }

  &__logo {
    padding: 20px;
    height: 60px;
    cursor: pointer;
  }

  &__items {
    display: inline-block;
    align-self: center;
    display: flex;
    margin-left: auto;
  }
  
  &__item {
    align-self: center;
    font-family: $base-font-family;
    font-weight: 600;
    font-size: $font-size-regular;
    padding: 10px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $text-color;
  }

}

.footer {
  padding-top: 30px;
  color: $white;
  font-size: $font-size-regular;
  font-family: $oxygen;
  min-height: 200px;
  background: $brand-color;

  &__rows {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__row-item {
    padding: 10px;
    width: 200px;

    &:first-child {
      flex: 1;
    }

    &__title {
      font-variant: small-caps;
      text-transform: uppercase;
      font-size: $font-size-regular;
      color: $white;
      font-family: $base-font-family;
    }
  }

  &__image {
    width: 200px;
    padding-bottom: 5px;
  }

  &__company-info {
    color: $white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: $font-size-regular;

    &--link {
      margin-top: 10px;
      margin-bottom: 10px;
      color: $white;
      font-weight: 600;
      cursor: pointer;
    }
  }
}