.hero {
  position: relative;
  display: inline-block; 
  width: 100%;

  &__grey--main {
    padding-top: 64px;
    height: 80vh;
    background: $grey-background;

    @include respond(tablet) { // width < 1200?
      height: 50vh;
    }

    @include respond(phone) { // width < 1200?
      height: 60vh;
    }

  }
  &__grey--mini {
    background: $grey-background;
  }

  &__grey--lg {
    height: 100vh;
    background: $grey-background;
  }

}

.banner {
  &__container {
    display: inline-block; 
    width: 100%;
    @include respond(phone) { // width < 1200?
      font-size: $font-size-regular;
    }
  }

  &__body {
    width: 80%;
    @include respond(phone) { // width < 1200?
      width: 100%;
    }
  }

  &__rows {
    display: flex;
    flex-direction: row;
    @include respond(phone) { // width < 1200?
      flex-direction: column-reverse;
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  &__item {
    flex-grow: 1;
    flex-basis: 1;
  }

  &--center {
    text-align: right;
    align-self: center;
    @include respond(phone) { // width < 1200?
      flex-direction: column-reverse;
      align-self: baseline;
    }
  }

  &__image {
    width: 150px;
    @include respond(phone) { // width < 1200?
      width: 50px;
      padding-bottom: 5px;
    }
  }

  &--grey {
    background: $grey-background;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.text-image {
  &__container {
    padding-top: 30px;
    padding-bottom: 30px;
    @include respond(phone) { // width < 1200?
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  &__image {
    width: 200px;
    padding-right: 100px;
    @include respond(phone) { // width < 1200?
      padding-right: 0px;
      width: 100px;
      padding-bottom: 10px;
    }
  }

  &__aux-image {
    padding-top: 15px;
  }
  
  &__rows {
    display: flex;
    flex-direction: row;
    @include respond(phone) { // width < 1200?
      flex-direction: column;
    }
  }

  &__item {
    flex-grow: 1;
    flex-basis: 0;
  }

  &--center {
    text-align: center;
  }

  &--center-photo {
    padding-right: 0px;
  }
}

.image-row {

  &__container {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    @include respond(phone) { // width < 1200?
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  &__image {
    width: 50px;

    @include respond(tablet) { // width < 1200?
      width: 40px;
    }

    @include respond(phone) { // width < 1200?
      width: 30px;
    }
  }

  &__caption {
    font-size: $font-size-smaller;
    font-family: $base-font-family;
    font-weight: 700;
  }

  &__row {
    display: flex;
    justify-content: center;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    align-items: self-end;
    @include respond(phone) { // width < 1200?
      width: 90%;
      padding-bottom: 15px;
    }
  }

  &__item {
    flex-grow: 1;
    flex-basis: 0;
  }

}

.features {

  &__container {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__row {
    display: flex;
    @include respond(phone) { // width < 1200?
      flex-direction: column;
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  &__title {
    color: $brand-color;
    font-family: $base-font-family;
    font-size: $font-size-large;
    text-transform: uppercase;
    font-variant: small-caps;
    line-height: 35px;
  }

  &__body {
    color: $text-color;
    font-family: $oxygen;
    font-size: $font-size-regular;
    line-height: 28px;
    font-weight: 400;

  }

  &__item {
    margin: 10px;
    flex-grow: 1;
    flex-basis: 0;
    @include respond(tablet) { // width < 1200?
      margin: 10px;
      padding: 0px;
    }
  }

}

.cta {
  &__container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__button-wrapper {
    padding-top: 20px;
  }
}


.submission-form {
  &__status {
    color: $text-color;
    font-family: $oxygen;
    font-size: $font-size-smaller;
    line-height: 16px;
    font-weight: 400;
  }
}

.centered-panel {
  @include absCenter;

  width: 400px;
  height: 500px;
  border: 2px solid $brand-color;
  border-radius: 10px;

  &--white {
    background: #ffffff;
  }
}

.split {
  display: flex;
  overflow-x: hidden;
  height: 100vh;
  flex-direction: row;
  
  &__left {
    position: relative;
    width: 156px;
    left: 0;
    background: $grey-background;
    text-align: center;
    @include respond(phone) { // width < 1200?
      display: none;
    }
  }

  &__right {
    position: relative;
    background: #fff;
    width: 100%;
    @include respond(phone) { // width < 1200?
      left: 0px;
    }
  }

  &__image {
    width: 100px;
    @include absCenter;

    &--mobile {
      display: none;
      @include respond(phone) { // width < 1200?
        display: block;
        top: 15%;
      }
    }

  }

  &__form {
    width: 300px;
    left: 50px;
    position: absolute;
    top:30%;
    @include respond(phone) { // width < 1200?
      text-align: center;
      left: 0px;
      width: 300px;
      margin: auto;
      @include absCenter;
    }
  }

  &__form--responsive {
    width: 300px;
    @include respond(phone) { // width < 1200?
      text-align: center;
      left: 0px;
      width: 300px;
      margin: auto;
      @include absCenter;
    }
  }

  &__form-item {
    padding-top: 16px;
    &--extra-space {
      padding-top: 24px;
    }

    &--left-align {
      text-align: left !important;
    }

    &--checkbox {
      font-family: $base-font-family;
      font-size: $font-size-smaller;       
      text-align: left !important;
      font-size: $font-size-regular;
    }
  }

  &__small-text {
    font-family: $base-font-family;
    font-size: $font-size-smaller; 

    &--bold {
      font-weight: 600;
    }
  }
  

  &__text {
    font-family: $base-font-family;
    font-size: $font-size-regular; 

    &--bold {
      font-weight: 600;
    }
  }

}