.teams {

  &__title {
    padding-top: 10%;
  }

  &__intro {
    position: relative;
    text-align: center;
    width: 100%;
  }

  &__explosion {
    height: 400px;
    padding: 20px;
  }

  &__button {
    padding-top: 30px;
  }

  &__seats {
    display: flex;
    height: 300px; 
    justify-content: center;
    align-items: center;

    &__field {
      display: flex;
      min-width: 100px;
      text-align: center;
      justify-content: center;
    }

    &__modifier {
      margin: 10px;
    }

    &__seat-adjust {
      width: 32px;
    }
  }

}

.react-numeric-input {
  font-family: $base-font-family;
  font-size: $font-size-regular;
}