.text-image {
  &__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    font-size: $font-size-larger;
    font-family: $base-font-family;
    font-weight: 700;
    line-height: 60px;
  }

  &__body {
    font-size: $font-size-large;
    font-family: $oxygen;
    width: 100%;
    line-height: 45px;
    font-weight: 300;
  }

  &__image {
    width: 200px;
    padding-right: 100px;
  }

  &__aux-image {
    padding-top: 15px;
  }
  
  &__rows {
    display: flex;
    flex-direction: row;
  }

  &__item {
    flex-grow: 1;
    flex-basis: 0;
    &--right {
      text-align: center;
    }
  }
}