$font-size-ginormous: 7.594em;
$font-size-huge: 5.063em;
$font-size-big: 3.375em;
$font-size-larger: 2.25em;
$font-size-large: 1.5em;
$font-size-regular: 1em;
$font-size-smaller: 0.667em;


.content {
  color: $text-color;

  &__intro {
    padding-top: 50px;
    text-align: center;

    h1 {
      font-size: $font-size-big;
      font-family: $base-font-family;
      line-height: 63px;
      padding-bottom: 15px;
    }

    p {
      font-size: $font-size-large;
      font-family: $oxygen;
      line-height: 40px;
      padding-bottom: 20px;
    }
  }

  h2 {
    font-size: $font-size-larger;
    font-family: $base-font-family;
    font-weight: 700;
    line-height: 60px;
  }

  p {
    font-size: $font-size-large;
    font-family: $oxygen;
    line-height: 45px;
    font-weight: 300;
  }
}