.video {
  &__container {
    text-align: center;
    padding-top: 30px;
    display: inline-block;
  }

  &__vid {
    width: 80%;
    border-radius: 15px;

    @include respond(phone) { // width < 1200?
      width: 95%;
      border-radius: 5px;
    }
  }
}

.loader {
  margin: auto;
  &__none {
    display: none;
  }
}

.spinner {
  width: 50px;
}